DEBUG=true
SECRET_KEY=change-me-in-local-development
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=sqlite
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

DEFAULT_EMPRESA_SLUG=demo
BASE_EFECTIVO_DEFAULT=200000

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@example.com
